<h1>Add a New Card</h1>


<%= form_with(model: @card, local: true) do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.hidden_field :board_id, {value: params[:board_id]} %>

</div>
<br>
<%= f.submit %>

<% end %>